.appBar {
    border-radius: 15px;
    margin: 10px 0;
    display: flex;
    background: orange;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
  
.heading {
    text-decoration: none;
    padding: 24px;
}
  
@media (max-width: 959px) {
    .heading {
      display: none;
    }
}
  
.home {
    display: none;
}
  
@media (max-width: 959px) {
    .home {
      display: flex;
      margin-left: 8px;
      justify-content: center;
      align-items: center;
    }
}